.menu {
    height: 0vh;
    width: 102.1%;
    justify-content: space-around;
    margin-left: -2.1%;
}
.li {
    display: inline;
}
.jumbotron {
    background-color: #e9ecef;
    margin-bottom: -0.5%;
}
.buton {
    margin-left: 25px;
    margin-top: 1%;
    background-color: rgb(30, 136, 241);
    color: rgb(255, 255, 255);
    border-color:rgb(30, 137, 245);
    border-radius: 5px;
}


.container {
    padding: 5%;
    text-align: center;

}
.container-2{
    margin-left: -7%;
}
.container-3{
    margin-left: -14%;
}